.header {
    display: flex; 
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
     
}

.header-left {
    position: absolute; 
    display: flex; 
    flex-direction: row;
    /* justify-content: space-around; */
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    height: 38px; 
    width: 30vw; 
    z-index: -1; 
}

.header-left.geocoder {
    position: relative; 
    display: flex;
    width: 30vw; 
    top: 0px; 
    left: 10px;

}
/* .mapboxgl-ctrl-geocoder--input {
    display: flex; 
    width: 25vw; 
} */

.hamburger {
    display: flex; 
    align-items: center;
    padding: 10px;
}

.hamburger:hover {
    cursor: pointer;
}


.header-right {
    display: flex; 
    align-items: center;
    margin-right: 10px;
    height: 30px; 
    /* background-color: red; */
    /* margin-top: 5px; */

}

.login-button {
    background-color: whitesmoke;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    /* margin-top: 5px; */

}

@media screen and (max-width: 420px) {
    .header-left.geocoder {
        width: 90vw; 
    }
}