.header {
    /* position: fixed;  */
    display: flex; 
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
}

.header-left {
    display: flex; 
    flex-direction: row;
    /* justify-content: space-around; */
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    height: 38px; 
    width: 400px; 
}

.hamburger {
    display: flex; 
    align-items: center;
    padding: 10px;
}
.hamburger:hover {
    cursor: pointer;
}

.search-bar {
    display: flex; 
    align-items: center;
    /* flex-basis: 80%; */
    padding: 5px; 
    /* padding-left: 10px; */
    /* padding-right: 10px;  */
}

.search-icon {
    /* display: flex;  */
    padding-left: 10px;
    justify-content: flex-end;
    /* align-items: center; */
}

.header-right {
    display: flex; 
    align-items: center;
    margin-right: 10px;
    height: 30px; 
    /* background-color: red; */
    /* margin-top: 5px; */

}

.login-button {
    background-color: whitesmoke;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    /* margin-top: 5px; */

}