/*
  Natural breakpoint for search bar at max width of 640px
*/

@media screen and (max-width: 1445px) {
  .menu-icon {
    margin-left: 245px;
  }
}

.mapboxgl-ctrl-geocoder {
  border-radius: 4px 0 0 4px;
}

.menu-icon {
  margin-left: 247px;
  border-radius: 4px;
  background-color: white;
  padding: 9px 8px 10px 8px;
  margin-top: 10px;
  color: light-grey;
  fill: #757575;
  position: absolute;
}

.meun-icon:hover {
  cursor: pointer;
}
