.mapContainer {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.geocoder {
  position: relative; 
  width: 30vw; 
  top: -47px; 
  left: 78px; 
}

/* 
@media screen and (max-width: 420px) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
} */
