.map-container {
  /* position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -9999999999; */

  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/*
  Natural breakpoint for search bar at max width of 640px
*/

@media screen and (max-width: 1445px) {
  .menu-icon {
    margin-left: 245px;
  }
}

.mapboxgl-ctrl-geocoder {
  border-radius: 4px 0 0 4px;
}

.menu-icon {
  margin-left: 244px;
  border-radius: 4px;
  background-color: white;
  padding: 9px 8px 10px 8px;
  margin-top: 10px;
  color: light-grey;
  fill: #757575;
  position: absolute;
  z-index: 8;
}

.menu-icon:hover {
  cursor: pointer;
}
