.nav-container {
  position: absolute;
  width: 310px;
  height: 75%;
  background-color: white;
  flex-direction: column;
  transition: opacity 0.3s ease 0s, transform 0.6s ease-in-out 0s;
  float: left;
}

.nav-header {
  display: flex;
  padding: 12px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.nav-header .h2 {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.nav-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 17px;
}

.nav-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  padding: 15px;
  border-bottom: 1px solid darkgrey;
  color: black;
  width: 100%;
}

.nav-users {
}

.nav-venues {
}
.login-buttons {
  width: -webkit-fill-available;
  padding: 10px 0px 10px 10px

}

.nav-login {
  padding-right: inherit;
    padding-left: 0px

}

.nav-signup {
  padding-right: inherit;
  padding-left: 0px
}

.logout-button {
  background: transparent;
  width: -webkit-fill-available;
  margin-top: 15px;
  border: transparent;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
}

.navback-icon {
  margin-left: auto;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.modal-container {
  display: flex;
  width: 100%;
  height: 100%;
}
