.signup-page {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    /* font-family: Verdana; */
}

/* .user-header-h1 {
  font-family: 'Megrim', cursive; 
  font-weight: 900; 
  font-size: 35px; 
} */

.signup-form {
    margin-bottom: 50px;
    padding: 20px; 
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: 30px; */
}

.signup-buttons {
    display: flex;
    flex-direction: column;
    /* padding: 10px 10px 10px 10px; */
}

.signup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.signup-desc {
    color: rgb(61, 61, 61); 
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.signup-description {
    color: rgb(61, 61, 61); 
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

#signup-button {
    /* margin: 5px 0px 0px 0px; */
    width: 36vw; 
    border: none; 
    color: white;
    background-color:#4267B2;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-family: Verdana;
    font-weight: 600;
    /* margin: 0px; 
    margin-right: 15px;  */
    /* padding: 20px; */
}

button:hover {
    cursor: pointer;
    background-color: #22458a;
}

.signup-form input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 35vw;
    border: 1px solid lightgray; 
    border-radius: 3px;
}

.signup-form select:focus {
    outline: none; 
}

.signup-form select {
    padding: 5px 5px 5px 5px;
    margin-bottom: 20px;
    width: 36.5vw;
    border: 1px solid lightgray; 
    border-radius: 3px;
    color: gray; 
}

.pic-upload-desc {
    color: rgb(61, 61, 61); 
    padding-bottom: 5px; 
}

#signup-profile {
    width: 35vw; 
    margin-right: -25px; 
    /* border: none;  */
}

#signup-profile {
    width: 35vw;
}

@media screen and (max-width: 600px) {
    .signup-page {
        width: 80vw;
        border-style: none;
    }

    .signup-form input {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        display: inline-block;
        width: 67vw;
    }

    #signup-button {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-bottom: 20px;
        display: inline-block;
        width: 69vw;
    }

    .signup-form select {
        width: 69.5vw;
    }

    #signup-profile {
        width: 67vw;
    }
}