.user-show-page {
    margin-bottom: 50px;
}

.user-show-header {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
}

.user-header-h1 {
    text-decoration: none;
    color: black;
    width: 65%; 
}
.user-search-show {
    display: flex;
    width: 20%;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    position: relative;
}
.user-search-show input {
  margin-left: 15%;
  border: none;
  border-color: trasparent;
  width: 100%;
  font-size: 16px;
}

.header-logo {
    display: flex; 
    justify-content: center;
    font-family: 'Megrim', cursive;
    font-weight: bolder; 
    font-size: 25px; 
}

.user-show-info-list {
    display: flex; 
    border-bottom: 1px solid lightgray;
    margin-left: 10vw;
    margin-right: 10vw;
}

.user-show-photo-outer {
    display: block; 
    flex-basis: 50%;
    margin: 50px; 
}

.user-show-photo img {
    /* width: 200px;  */
    height: 250px; 
    border: 1px solid lightgray; 
}

.user-show-info {
    display: block; 
    flex-basis: 50%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.user-show-username {
    font-size: xx-large;
    padding-bottom: 20px;
}

.user-show-performer-type {
    padding-bottom: 10px;
}

.user-reviews {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 50px; 
}

.user-reviews h2 {
    font-size: larger; 
}

.review-input-user {
    border: 1px solid lightgray; 
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    padding: 8px; 
    box-shadow: lightgray 0px 0px 5px 0px;
    margin-left: 0px;
    margin-top: 20px; 
    margin-right: 10px; 
}

.submit-user {
    padding: 8px; 
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Roboto", sans-serif;
    background: #4267B2; 
    color: white; 
    border: 1px solid #4267B2; 
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 5px; 
}

.submit-user:hover {
    cursor: pointer;
    background: #22458a;
}
.submit-user:focus {
    outline: none; 
}

.review-each-user {
    border: 1px solid lightgray; 
    border-radius: 4px;
    margin: 5px; 
    padding: 5px; 
    padding-left: 8px;
    margin-left: 10vw; 
    margin-right: 10vw;
}
