.user-show-header {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
}

.user-header-h1 {
    text-decoration: none;
    color: black;
    width: 65%; 
}
.user-search-show {
    display: flex;
    width: 20%;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    position: relative;
}
.user-search-show input {
  margin-left: 15%;
  border: none;
  border-color: trasparent;
  width: 100%;
  font-size: 16px;
}

.header-logo {
    display: flex; 
    justify-content: center;
    font-family: 'Megrim', cursive;
    font-weight: bolder; 
    font-size: 25px; 
}

.user-show-info-list {
    display: flex; 
    border-bottom: 1px solid lightgray;
    margin-left: 10vw;
    margin-right: 10vw;
}

.user-show-photo-outer {
    display: block; 
    flex-basis: 50%;
    margin-top: 50px; 
    margin-bottom: 50px;
    margin-right: 50px;
    /* height: 300px;  */
    
}
.user-show-photo img {
    /* width: 200px;  */
    height: 250px; 
}

.user-show-info {
    display: block; 
    flex-basis: 50%;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.user-show-username {
    font-size: xx-large;
    padding-bottom: 20px;
}

.user-show-performer-type {
    padding-bottom: 10px;
}

.user-reviews {
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 50px; 
}

.user-reviews h2 {
    font-size: larger; 
}
