.user-header-container {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  text-decoration: none;
  justify-content: center;
}

.user-header {
  display: flex;
  font-size: 25px;
  text-decoration: none;
  width: 61%;
}

.user-search-container {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.user-search {
  display: flex;
  width: 50%;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  position: relative;
}

.user-search input {
  margin-left: 12%;
  border: none;
  border-color: trasparent;
  width: 100%;
  font-size: 16px;
}

.user-search input:focus {
  outline: none;
}

.menu-icon-other {
  margin-left: 15px;
  border-radius: 4px;
  background-color: white;
  margin-top: 5px;
  color: light-grey;
  fill: #757575;
  position: absolute;
}
.menu-icon-other:hover {
  cursor: pointer;
}

.user-list-items-outer {
  display: block;
  flex-direction: row;
  /* flex-wrap: wrap;  */
}

.user-list-items {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  /* flex-basis: 50%; */
}

.user-photo {
  display: block;
  /* flex-basis: 25%;  */
  border: 1px solid lightgray;
  margin-right: 30px;
  height: 150px;
  /* width: 150px;   */
}

.user-photo img {
  height: 150px;
  width: 150px;
}

.user-info {
  display: block;
  flex-direction: column;
  /* flex-basis: 75%; */
}

.user-username {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

.user-username:hover {
  /* text-decoration: underline; */
  color: rgb(34, 34, 175);
}

.username-outer {
  padding-bottom: 10px;
}

.performer-type {
  padding-bottom: 10px;
  font-size: 15px;
}

.user-rating {
    padding-bottom: 10px;
    font-size: 15px;
}
/* .review-star {
    background: yellow;
    padding-bottom: -5px;
} */

.bio {
  padding-bottom: 10px;
  font-size: 15px;
}
